<div class="toolbar">
    <div class="title">
      <h2>Álbumes</h2>
      <span class="subtitle">Búsqueda: {{ term }}</span>
    </div>
  
    <div class="actions">
      <button mat-stroked-button (click)="setView('cards')" [disabled]="viewMode === 'cards'">
        <mat-icon>view_module</mat-icon>
        Cards
      </button>
  
      <button mat-stroked-button (click)="setView('table')" [disabled]="viewMode === 'table'">
        <mat-icon>table_rows</mat-icon>
        Tabla
      </button>
    </div>
  </div>
  
  @if (loading) {
    <div class="loading">
      <mat-spinner></mat-spinner>
    </div>
  } @else {
    @if (viewMode === 'cards') {
        <div class="cards" @fadeIn>
        @for (album of albums; track album.id) {
          <app-disc-card
            [album]="album"
            (open)="goToDetail($event)">
          </app-disc-card>
        }
      </div>
    } @else {
        <div @fadeIn>
          <app-disc-grid
            [albums]="albums"
            (open)="goToDetail($event)">
          </app-disc-grid>
        </div>
      }
      
  }
  